orchestration/ARMTemplateForFactory.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "nyctrafficADF"
        },
        "LS_ADLS_Bronze_accountKey": {
            "type": "secureString",
            "metadata": "Secure string for 'accountKey' of 'LS_ADLS_Bronze'"
        },
        "LS_Databricks_accessToken": {
            "type": "secureString",
            "metadata": "Secure string for 'accessToken' of 'LS_Databricks'"
        },
        "LS_ADLS_Bronze_properties_typeProperties_url": {
            "type": "string",
            "defaultValue": "https://nyctrafficanalyticsadls.dfs.core.windows.net/"
        },
        "LS_Databricks_properties_typeProperties_existingClusterId": {
            "type": "string",
            "defaultValue": "0707-230024-qetvsxhe"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/LS_ADLS_Bronze')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureBlobFS",
                "typeProperties": {
                    "url": "[parameters('LS_ADLS_Bronze_properties_typeProperties_url')]",
                    "accountKey": {
                        "type": "SecureString",
                        "value": "[parameters('LS_ADLS_Bronze_accountKey')]"
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/LS_Databricks')]",
            "type": "Microsoft.DataFactory/factories/linkedServices",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "type": "AzureDatabricks",
                "typeProperties": {
                    "domain": "https://adb-2384292225285752.12.azuredatabricks.net",
                    "accessToken": {
                        "type": "SecureString",
                        "value": "[parameters('LS_Databricks_accessToken')]"
                    },
                    "existingClusterId": "[parameters('LS_Databricks_properties_typeProperties_existingClusterId')]"
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL_Traffic_Flow_B_S_G')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Transform_Bronze_to_silver",
                        "type": "DatabricksNotebook",
                        "dependsOn": [
                            {
                                "activity": "Ingest_Traffic_data_to_bronze",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "notebookPath": "/Users/iamsrinadh030@gmail.com/silver_transform_traffic"
                        },
                        "linkedServiceName": {
                            "referenceName": "LS_Databricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Transform_Silver_to_Gold",
                        "type": "DatabricksNotebook",
                        "dependsOn": [
                            {
                                "activity": "Transform_Bronze_to_silver",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "notebookPath": "/Users/iamsrinadh030@gmail.com/gold_transformations"
                        },
                        "linkedServiceName": {
                            "referenceName": "LS_Databricks",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Ingest_Traffic_data_to_bronze",
                        "type": "WebActivity",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.12:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "method": "POST",
                            "headers": {
                                "Content-Type": "application/json",
                                "x-functions-key": "@AzureFunctionKey@"
                            },
                            "url": "https://nyc-traffic-func.azurewebsites.net/api/traffic_ingest_function?code=Azurekey",
                            "body": "{\n  \"location\": \"NYC\",\n  \"datetime\": \"@{utcNow()}\",\n  \"api_key\": \"REDACTED\"  // optional if function uses system key only\n}\n"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "annotations": []
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/linkedServices/LS_Databricks')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/Daily_noon_Trigger')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Started",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "PL_Traffic_Flow_B_S_G",
                            "type": "PipelineReference"
                        },
                        "parameters": {}
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Day",
                        "interval": 1,
                        "startTime": "2025-07-08T12:00:00",
                        "timeZone": "Central Standard Time",
                        "schedule": {
                            "minutes": [
                                0
                            ],
                            "hours": [
                                12
                            ]
                        }
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/PL_Traffic_Flow_B_S_G')]"
            ]
        }
    ]
}
